body {
	background: url("../img/background.png");
}

h1 {
	text-align: center;
	color: black;
	border: solid #229999 2px;
	border-left-width: 600px;
	border-right-width: 600px;
}

.links {
	width: 400px;
	color: #229999;
	font-size: 2em;
	float: right;
	margin-top: 50px;
	margin-right: 700px;
}

li {
	margin-top: 75px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 100px;
	color: #229999;
}

img {
	width: 640px;
	height: 500px;
	margin-left: 600px;
	margin-top: 75px;
	transform: rotate(90deg);
}

h3 {
	text-align: center;
	margin-top: 100px;
}

p {
	text-align: center;
	width: 750px;
	margin-left: 900px;
}
















